{% extends 'app_general/components/base.html' %}

{% block site_title %}About Our Room Booking System - {% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container">
    <h3 class="content-title">About Our Room Booking System</h3>
    <h5>Established in 2024</h5>
    <p>Our room booking system simplifies the process of reserving rooms for meetings, events, and activities at your university. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc luctus finibus augue, et ornare tellus lacinia id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vehicula erat ac neque efficitur, eget rutrum turpis vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec pulvinar vel nibh ac bibendum.</p>
    <h5>Key Features</h5>
    <p>Our room booking system offers the following key features:</p>
    <ul>
      <li>Easily search for available rooms based on your requirements.</li>
      <li>Select the date, time, and duration of your event, and our system will show you suitable rooms.</li>
      <li>Quickly book rooms online and receive instant confirmation.</li>
    </ul>
  </div>
</section>
{% endblock %}
